beautifulsoup4
hachoir
numpy
Pillow
pyrogram==1.4.16
tgcrypto
requests
youtube-search-python
youtube-search
yt-dlp==2023.7.6
aiofiles==22.1.0
aiohttp==3.8.3
motor
pymongo
dnspython
psutil
loggers
filetype
tldextract
pyromod
lk21
Flask==2.2.2
gunicorn==20.1.0
